%template#order-view-template
  .order




:javascript
  (function (){
   var currentScript = document.currentScript
    customElements.define('order-view',
    class extends HTMLElement {
      constructor() {
        super()
        var template = currentScript
            .ownerDocument
            .getElementById('order-view-template')
            .content
        var shadowRoot = this.attachShadow({mode: 'open'})
        shadowRoot.appendChild(template.cloneNode(true))
        var xhr=new XMLHttpRequest();
        xhr.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
              var order = JSON.parse(this.responseText);
              shadowRoot.querySelector('.order').innerHTML=this.responseText
          }

         }
        var orderurl=this.getAttribute('order')
        xhr.open('Get', orderurl);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send();
      }
    }
    )
  }())

